body {
    margin: 0;
    font-family: "ProximaNova-Regular", sans-serif;
    background-image: url(assets/images/background.png);
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #434242;
    color: #ffffff;
    padding: 20px 0;
    z-index: 5;
    display: flex;
    border-bottom: 3px solid #424242;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    height: auto;
    margin-left: 5%;
    top: 0;

}

.menu h {
    margin: 0;
    font-size: 25px;
    color: lightgray;
    font-family: "Averta Cyrillic Regular";

}
.menu img {
    width 40%;
}
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
    width: 40%;
    display: block;
    margin: 0 auto; /* Центрирование по горизонтали */
}

.section {
    margin-top: 120px;
    text-align: center;
}
h1 {
    font-family: "ProximaNova-Bold";
    font-size: 30px;
}
p {
    font-family: "ProximaNova-Bold";
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    word-wrap: break-word;
}
p1 {
    font-family: "ProximaNova-Bold";
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
}

button {
    border: 1px solid #434242;
    border-radius: 15px;
    font-family: "ProximaNova-Regular";
    background-color: #f0f0f0;
    font-size: 30px;
    margin-bottom: 10px;
}
.logo {
    text-align: center;
}

.image-box {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 30px;
    background-color: lightgray;
    border: 10px solid lightgray;
    transition: opacity 0.3s ease;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY (-20px);
    transform: translateY (-20px);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.3s;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.image-box.element-show {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.image-box:active {
    filter: brightness(70%); /* Уменьшает яркость при нажатии */
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    max-height: 300px;
    margin: 0 auto;
    border-radius: 30px;
}

h {
    font-family: "ProximaNova-Regular";
    font-size: 30px;
}
@font-face {
font-family: "Averta Cyrillic Regular";
src: url("assets/fonts/Averta Cyrillic Regular.otf") format("truetype");
font-style: normal;
font-weight: normal;
 }
@font-face {
font-family: "ProximaNova-Regular";
src: url("assets/fonts/ProximaNova-Regular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
 }
@font-face {
font-family: "ProximaNova-Bold";
src: url("assets/fonts/ProximaNova-Bold.ttf") format("truetype");
font-style: normal;
font-weight: normal;
 }
